<ul class="nav main-menu">
    <li class="nav-item d-none">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <i class="bi bi-house"></i>
            <span>Ana Sayfa</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/trade/spot">
            <i class="bi bi-person"></i>
            <span>Spot</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/trade/margin">
            <i class="bi bi-person"></i>
            <span>Margin</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/trade/future">
            <i class="bi bi-person"></i>
            <span>Future</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/strategy">
            <i class="bi bi-person"></i>
            <span>Strateji</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/wallet">
            <i class="bi bi-wallet"></i>
            <span>Cüzdan</span>
        </NavLink>
    </li>
</ul>

