@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <HeaderLayout />
        <main>
            @Body
        </main>
        <FooterLayout />
    </Authorized>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
</AuthorizeView>
